RentService/SoapControllersAdapters/src/main/resources/file.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.soap.edu.p.lodz.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.soap.edu.p.lodz.pl/" name="EquipmentSoapControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.soap.edu.p.lodz.pl/" schemaLocation="schema.xsd"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="SoapConflictException">
<part name="fault" element="tns:SoapConflictException"/>
</message>
<message name="ObjectNotFoundSoapException">
<part name="fault" element="tns:ObjectNotFoundSoapException"/>
</message>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="SoapIllegalModificationException">
<part name="fault" element="tns:SoapIllegalModificationException"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<portType name="EquipmentSoapController">
<operation name="add">
<input wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/addRequest" message="tns:add"/>
<output wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/addResponse" message="tns:addResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/removeRequest" message="tns:remove"/>
<output wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/removeResponse" message="tns:removeResponse"/>
<fault message="tns:SoapConflictException" name="SoapConflictException" wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/remove/Fault/SoapConflictException"/>
<fault message="tns:ObjectNotFoundSoapException" name="ObjectNotFoundSoapException" wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/remove/Fault/ObjectNotFoundSoapException"/>
</operation>
<operation name="get">
<input wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/getRequest" message="tns:get"/>
<output wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/getResponse" message="tns:getResponse"/>
<fault message="tns:ObjectNotFoundSoapException" name="ObjectNotFoundSoapException" wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/get/Fault/ObjectNotFoundSoapException"/>
</operation>
<operation name="update">
<input wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/updateRequest" message="tns:update"/>
<output wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/updateResponse" message="tns:updateResponse"/>
<fault message="tns:SoapIllegalModificationException" name="SoapIllegalModificationException" wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/update/Fault/SoapIllegalModificationException"/>
<fault message="tns:ObjectNotFoundSoapException" name="ObjectNotFoundSoapException" wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/update/Fault/ObjectNotFoundSoapException"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://controller.soap.edu.p.lodz.pl/EquipmentSoapController/getAllResponse" message="tns:getAllResponse"/>
</operation>
</portType>
<binding name="EquipmentSoapControllerPortBinding" type="tns:EquipmentSoapController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SoapConflictException">
<soap:fault name="SoapConflictException" use="literal"/>
</fault>
<fault name="ObjectNotFoundSoapException">
<soap:fault name="ObjectNotFoundSoapException" use="literal"/>
</fault>
</operation>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ObjectNotFoundSoapException">
<soap:fault name="ObjectNotFoundSoapException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SoapIllegalModificationException">
<soap:fault name="SoapIllegalModificationException" use="literal"/>
</fault>
<fault name="ObjectNotFoundSoapException">
<soap:fault name="ObjectNotFoundSoapException" use="literal"/>
</fault>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EquipmentSoapControllerService">
<port name="EquipmentSoapControllerPort" binding="tns:EquipmentSoapControllerPortBinding">
<soap:address location="http://mainpc-ubuntu:8080/soap/EquipmentSoapControllerService"/>
</port>
</service>
</definitions>